$pollBorderColor: #c1c1c1;
$pollTextColor: #3e3e3e;
$pollPromptColor: #fe9e08;
$pollGraphYesColor: #147bff;
$pollGraphNoColor: #fe9e08;

$pollWidth: 800px;
$pollHeight: 300px;

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin animation($animation-name, $animation-time) {
    -webkit-animation: $animation-name $animation-time;
    -webkit-animation: $animation-name $animation-time;
    -moz-animation: $animation-name $animation-time;
    -ms-animation: $animation-name $animation-time;
    -o-animation: $animation-name $animation-time;
    animation: $animation-name $animation-time;
}

@mixin keyframes( $animation-name ) {
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @-o-keyframes $animation-name {
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}

#polling-widget {
  position: relative;
  top: 50px;
  border-bottom: 1px solid $pollBorderColor;
  color: $pollTextColor;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  max-width: $pollWidth;
  height: $pollHeight;

  -webkit-backface-visibility: hidden;

  @include animation(fadein, 1.5s);

}

.poll-prompt {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: $pollPromptColor;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  display: table;
  white-space: nowrap;
  &:before, &:after {
    border-top: 1px solid $pollBorderColor;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
  }
  &:before {
    right: 1.5%;
  }
  &:after {
    left: 1.5%;
  }
}

#poll-question {
  position: relative;
  top: 20px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

#poll-answers {
  position: relative;
  padding-left: 0px;
  margin: 0 auto;
  top: 20px;
  padding-right: 20px;
  text-align: center;
}

.poll-answer {
  display: inline-block;
  text-align: center;
  padding: 40px 20px 20px 20px;
  > .poll-answer-text {
    display: block;
  }
}

#poll-results {
  display: none;
  position: relative;
  top: 20%;
  left: 5%;

  @include animation(fadein, 1.5s);

  > ul {
    list-style: none;
    padding-left: 0px;
  }
  .poll-result-text {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    width: 15%;
    text-align: center;
    float: left;
    font-weight: 300;
  }
  .bar {
    position: relative;
    float: right;
    width: 85%;
    top: 10px;
  }
  .graph {
    height: 7px;
  }
  .graph-caption {
    font-size: 12px;
  }
  li {
    clear: both;
  }
  .graph {
    @include transition(width, 2s, ease-in-out);
    width: 0px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #poll-results .bar {
    width: 80%;
  }
}

.poll-result {
  &[data-id="1"] .graph {
    background-color: $pollGraphYesColor;
  }
  &[data-id="2"] .graph {
    background-color: $pollGraphNoColor;
  }
}

@include keyframes(fadein) {
  from: {
    opacity: 0;
  }

  to: {
    opacity: 1;
  }
}